:root {
  --primary-color: #96bb7c;
  --head-color: #252b42;
  --paragraph-color: #737373;
}
@media screen and (max-width: 1080px) {
  .product_list {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin: 10px;
  }
  .banner_content h1 {
    font-weight: 700;
    font-size: 38px;
    color: var(--head-color);
  }
  .banner_content h4 {
    font-size: 17px;
    font-weight: 500;
  }
  .main_png {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  .service_plans {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 0px;
  }
}

@media screen and (max-width: 797px) {
  .main_png {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .container_img button {
    width: 75px;
    height: 75px;
  }
  .container.letter{
    padding: 40px 20px;
    gap: 80px;
  }
  .a {
    top: calc(50% - 37.5px);
  }
  .video_icon {
    font-size: 20px;
  }
  nav ul li .ham {
    display: block;
    color: #ffff;
    font-weight: 700;
    font-size: 14px;
  }
  /* #click:checked ~ .dropdown{ 
    position: relative;
    display: block;
    top: -75px;
    left: 100px;
    height: 180px;
  } */

  .product_list {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 5px;
  }
  .service_plans {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
  .container_content {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .top5 {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
  }
  .banner_img {
    display: none;
  }
  .container_main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .banner {
    padding: 0px;
    margin-bottom: 80px;
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .banner_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
  }
  nav ul {
    position: fixed;
    flex-direction: column;
    padding: 40px 10px;
    gap: 30px;
    left: -350px;
    top: 0;
    width: 150px;
    background-color: var(--primary-color);
    height: 100%;
    transition: ease-in-out 0.4s;
    z-index: 10;
    margin-top: 70px;
    text-align: center;
    opacity: 0;
  }
  nav ul li a {
    color: #ffff;
  }
  #check:checked ~ nav ul {
    opacity: 100;
    left: 0;
    align-items: center;
  }

  #check:checked ~ label #ham-btn {
    visibility: hidden;
  }
  #check:checked ~ label #close {
    position: absolute;
    top: 33px;
    left: 22px;
    display: block;
  }


  .container_content.more h2 {
    font-weight: 700;
    font-size: 28px;
  }
  .container_content h2 {
    font-weight: 700;
    font-size: 30px;
  }
  .transp {
    display: none;
  }
  .hamburger {
    visibility: visible;
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  #click:checked ~ .dropdown {
    visibility: visible;
    top: -75px;
    left: 100px;
    height: 180px;
  }
}
@media screen and (min-width: 797px) {
  .dropdown_parent:hover .dropdown {
    visibility: visible;
    color: #fff;
    opacity: 2;
  }
}
@media screen and (max-width: 550px) {
  .main_png {
    grid-template-columns: 1fr;
  }
  .container_img button {
    width: 50px;
    height: 50px;
  }
  .a {
    top: calc(50% - 25px);
  }
  .video_icon {
    font-size: 10px;
  }
  .part {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .product_list {
    grid-template-columns: 1fr;
  }
  .review {
    grid-template-columns: 1fr;
  }
  .top5 {
    grid-template-columns: repeat(2, 1fr);
    /* place-items: center; */
  }
  .txt {
    max-width: 165px;
    height: 40px;
  }
  .container.letter{
    gap: 50px;
  }
  
  .sub {
    /* height: 40px; */
    padding: 0px 15px;
    /* justify-content: center; */
  }
  .new {
    right: 1px;
  }
  form {
    display: flex;
    justify-content: center;
  }
  .figmamade h6 {
    font-weight: 500;
    font-size: 14px;
  }
}
@media screen and (max-width: 409px) {
  .banner_content h1 {
    font-weight: 700;
    font-size: 25px;
  }
  .newletter h2 {
    font-weight: 700;
    font-size: 20px;
  }
  .sub{
    padding: 0px 10px;
  }
  .container_content h2 {
    font-weight: 700;
    font-size: 20px;
  }
  .more h2 {
    font-weight: 700;
    font-size: 20px;
  }
  .about h5 {
    font-weight: 700;
    font-size: 14px;
  }
  .btn {
    padding: 13px 10px;
    font-size: 10px;
  }
  .btn.transparent-btn {
    padding: 13px 30px;
  }
  .learn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brand-name h3 {
    font-weight: 700;
    font-size: 13px;
  }
  .container.letter{
    gap: 30px;
  }
  .new {
    right: 20px;
  }
  .banner_row {
    padding: 80px 0px 80px 0px;
  }
  .monthly_plan {
    width: 266px;
  }
  .figmamade h6 {
    font-weight: 500;
    font-size: 12px;
  }
  .new{
    display: none;
  }
}
