@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.container{
    max-width: 1050px;
    display: flex;
    align-items: center;
    margin:  0px auto;
    gap: 50px; 

}
.brand-name{
    color: #252B42;

}
nav{
display: flex;
gap: 15px;
flex: 0.5;
}

li a{
    text-decoration: none;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0px;
    padding: 0;
}

.header-btns{
    display: flex;
    gap: 5px;
}

.btn{
   padding: 15px 25px;
   font-weight:700;
   color:#FFFFFF;
   background-color: #96BB7C;
   border: none;
}

.filled-btn{
background-color: #96BB7C;
color: #FFFFFF;
}

.filled-btn i{
    padding-left: 5px;
}

header{
    padding: 20px 0px;
}

.container-main{
    width: 1440px;
    display: flex;
}
header{
    background: #FFFFFF;
    
}
.left{
    /* width: 573px;
    height: 386px; */
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 140px;
    padding-top: 150px;
}
.left h1{
    font-weight: 700;
    font-size: 50px;
    color: #252B42;
    

}
.left h4{
    font-weight: 400px;
    font-size: 20px;
    color: #737373;
    
}
.btn-container{
    display: flex;
    gap: 10px;

}
.transparent-btn{
    background: transparent;
    border:1px solid  #96BB7C;  
    color: #96BB7C;
    font-weight: 500; 
    border: 1px;
}

.row{
    width: 1044px;
    height:134px;
    margin-top: 200px;
}

.row{
    width: 691px;
    height: 134px;
}
.section-tagsec-{
    font-weight: 700;
    font-size: 14px;
}
.section-title-2sec-{
    font-weight: 700;
    font-size: 40px;
}

.paragraph_sec{
    font-weight:400;
    font-size:14px;
}
.main_png{
    display:flex    
}
