@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
}
:root {
  --primary-color: #96bb7c;
  --head-color: #252b42;
  --paragraph-color: #737373;
}
.banner {
  padding: 112px 0px 112px 0px;
}
.container_main {
  max-width: 1440px;
  margin: auto;
  padding: 0px 20px 0px 20px;
}
.container {
  max-width: 1050px;
  margin: auto;
  padding: 0px 20px 0px 20px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.hamburger {
  font-size: 18px;
  visibility: hidden;
}

.brand-name {
  color: var(--secondry-color);
  display: flex;
  gap: 10px;
  align-items: center;
}

nav {
  display: flex;
  gap: 15px;
  flex: 1;
}

li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: var(--paragraph-color);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0px;
  padding: 0;
}

.btn {
  padding: 15px 25px;
  font-weight: 700;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  border-radius: 7px;
}

.filled-btn {
  background-color: var(--primary-color);
  color: #ffffff;
}

.btn.transparent-btn {
  padding: 15px 40px;
  gap: 10px;
  border-radius: 5px;
  opacity: 0px;
  border: 1px solid #96bb7c;
}

.filled-btn i {
  padding-left: 5px;
}

header {
  padding: 20px 0px;
  background-color: #eff8ed;
}

.main {
  background-color: #eff8ed;
  padding-bottom: 0px;
}
.last {
  background: #fff2f3;
}

.main .container_main {
  display: flex;
  align-items: center;
}

.banner_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.banner_content h1 {
  font-weight: 700;
  font-size: 50px;
  color: var(--head-color);
}
.banner_content h5 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
}

.banner_content h4 {
  max-width: 458px;
  font-weight: 400px;
  font-size: 20px;
  color: var(--paragraph-color);
}

.btn-container {
  display: flex;
  gap: 10px;
}

.transparent-btn {
  background: transparent;
  border: 1px solid #96bb7c;
  color: var(--primary-color);
  font-weight: 500;
  border: 1px;
}
.ham {
  display: none;
}

.container_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.container_content h6 {
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-color);
}

.container_content h2 {
  font-weight: 700;
  font-size: 40px;
  color: var(--head-color);
}

.container_content p {
  max-width: 469px;
  font-weight: 400;
  font-size: 14px;
  color: var(--paragraph-color);
}

.banner .container {
  gap: 112px;
  display: flex;
  flex-direction: column;
}
.banner_row {
  padding: 112px 0px 112px 0px;
}

.main_png {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.banner_img {
  width: 50%;
}
.banner_img img {
  width: 100%;
}
.sec_layer_left {
  width: 50%;
}
.sec_layer_left img {
  width: 100%;
}

.redline {
  width: 50px;
  height: 2px;
  background-color: #e74040;
}

.box {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 35px 40px;
  gap: 20px;
  box-shadow: 0px 13px 19px 0px #00000012;
  max-width: 238px;
}

.box:hover {
  background: var(--primary-color);
}

.box:hover .redline {
  background-color: #ffffff;
}
.box:hover h5 {
  color: #fff;
}
.box:hover p {
  color: #ffffff;
}
.box h5 {
  font-weight: 700px;
  font-size: 14px;
  color: var(--head-color);
}
.box p {
  max-width: 132px;
  font-weight: 400px;
  font-size: 14px;
  color: var(--paragraph-color);
}

.more {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 20px;
  width: 50%;
}
.more h2 {
  max-width: 446px;
  display: contents;
}
.more p {
  max-width: 351px;
}

.topline {
  width: 94px;
  height: 7px;
  background-color: #e74040;
}
.more a {
  font-weight: 700px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: end;
  gap: 10px;
  color: var(--primary-color);
}
.part {
  display: flex;
  align-items: center;
  gap: 25px;
}
.fourth_right {
  width: 50%;
}
.fourth_right img {
  width: 100%;
}

.fourth_left {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.fourth_left h2 {
  font-size: 40px;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.iconlogo {
  width: 140px;
  height: 40px;
  top: 236px;
  left: 49px;
  gap: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.ig {
  width: 40px;
  height: 40px;
  padding: 12px 12px;
  border-radius: 45px;
  background-color: #fff;
  padding-top: 15px;
  font-size: 15px;
}
.icon_button {
  background: #ffffff;
  border: none;
  border-radius: 45px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_img {
  position: relative;
}

.product_img label {
  top: 20px;
  left: 20px;
  border: none;
  color: #fff;
  padding: 0px 10px 0px 10px;
  border-radius: 3px 0px;
  background: #e74040;
  box-shadow: 0px 2px 4px 0px #0000001a;
  position: absolute;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product_details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px 25px 35px 25px;
}
.product_details a {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: var(--primary-color);
}
.product_details h5 {
  font-weight: 700;
  font-size: 14px;
  color: var(--head-color);
}
.product_details p {
  max-width: 182px;
  font-weight: 400;
  font-size: 14px;
  color: var(--paragraph-color);
}
.product_details h6 {
  font-weight: 700;
  font-size: 14px;
  color: var(--paragraph-color);
}

.service_plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.monthly_plan {
  max-width: 323px;
  box-shadow: 0px 13px 19px 0px #00000012;
  gap: 35px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.monthly_plan h3 {
  font-weight: 700;
  font-size: 24px;
  color: var(--head-color);
}
.monthly_plan:hover h3 {
  color: #fff;
}

.monthly_plan h2 {
  font-weight: 700;
  font-size: 40px;
  color: var(--primary-color);
}
.monthly_plan h6 {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
.monthly_plan p {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--paragraph-color);
}
.monthly_plan:hover p {
  color: #ffffff;
}

.monthly_plan:hover {
  color: #fff;
  background-color: var(--head-color);
}

.like_btn {
  width: 96px;
  height: 96px;
  gap: 0px;
  border-radius: 200px;
  opacity: 0px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.new {
  width: 89px;
  height: 90px;
  right: -32px;
  top: -28px;
  padding: 29px 16px 29px 16px;
  gap: 10px;
  border-radius: 52px;
  opacity: 0px;
  position: absolute;
  background: #e77c40;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like_in {
  color: white;
  font-size: 40px;
}

.trybtn {
  width: 243px;
  color: #fff;
  padding: 15px 40px 15px 40px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--primary-color);
  border: none;
}

.available {
  display: flex;
  align-content: center;
  justify-items: center;
  width: 243px;
  height: 32px;
  gap: 10px;
  opacity: 0px;
}

.tick {
  width: 32px;
  height: 32px;
  padding: 10px 8px 11px 8px;
  border-radius: 200px;
  opacity: 0px;
  background: #2dc071;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gray {
  background: #bdbdbd;
}

.available_offer {
  display: flex;
  align-items: center;
  gap: 0px;
  opacity: 0px;
}

.top1 h2 {
  font-weight: 700;
  font-size: 40px;
  color: #252b42;
}

.top p {
  font-weight: 400;
  font-size: 14px;
}

.top h6 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
}

.review {
  max-width: 1050px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.review_person {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.ratingstar i {
  color: #ffd43b;
}

.review_img {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 128px;
  gap: 0px;
  border-radius: 200px;
  opacity: 0px;
}

.pg {
  width: 320px;
  height: 60px;
}

.dis {
  width: 155px;
  height: 53px;
  padding: 0px 25px 0px 25px;
  gap: 5px;
  opacity: 0px;
}

.review_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 15px;
}
.review_content p {
  max-width: 320px;
  text-align: center;
}

.eight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #fff2f3;
  left: 195px;
  padding: 160px 160px;
  gap: 80px;
  opacity: 0px;
}

.newletter {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.letter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtn {
  background-color: var(--primary-color);
  color: #ffffff;
  width: 117px;
  height: 58px;
  left: 571px;
  gap: 10px;
  opacity: 0px;
  border: none;
}

.top5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  /* gap: 30px; */
}

footer {
  padding: 50px 0px 50px 0px;
}

.lst5 {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.lst5_last {
  width: 321px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about a {
  text-decoration: none;
  color: var(--paragraph-color);
  font-weight: 700;
  font-size: 14px;
}
.about h5 {
  font-weight: 700;
  font-size: 16px;
}
.about_contact {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
}
.about_contact i {
  color: var(--primary-color);
}
.footer_icon i {
  color: var(--primary-color);
}

.star {
  display: flex;
  max-width: 182px;
  /* height: 26px; */
  gap: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0px;
}
.number {
  max-width: 203px;
}

.star h5 {
  display: flex;
  align-items: center;
}

.str {
  width: 50px;
  height: 26px;
  gap: 5px;
  border-radius: 20px;
  background: var(--head-color);
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gldstr {
  color: #ffce31;
}

.star_no {
  width: 203px;
  display: flex;
  justify-content: space-between;
}

.download {
  width: 83px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  gap: 10px;
}
.star a {
  width: 153px;
}
.download_icon i {
  color: var(--paragraph-color);
}

.download_sale {
  font-weight: 700;
  font-size: 14px;
  color: var(--paragraph-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--paragraph-color);
}

.price_tag {
  width: 108px;
  height: 34px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
}

.price h5 {
  width: 52px;
  height: 24px;
  /* gap: 0px; */
  /* opacity: 0px; */
  font-weight: 700;
  font-size: 16px;
  color: #bdbdbd;
}

.offer_price h5 {
  width: 45px;
  height: 24px;
  /* gap: 0px; */
  /* opacity: 0px; */
  font-weight: 700;
  font-size: 16px;
  color: #ffab71;
}

.learn {
  max-width: 141px;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 37px;
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: end;
}

.learn h6 {
  font-weight: 700px;
  font-size: 14px;
  line-height: 24px;
}

.mail {
  max-width: 688px;
  height: 58px;
  gap: 30px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.txt {
  width: 567px;
  height: 58px;
  border: none;
}

.sub {
  max-width: 117px;
  height: 58px;
  padding: 15px 22.5px 15px 22.5px;
  margin-left: -5px;
  gap: 10px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  opacity: 0px;
  background: var(--primary-color);
  color: #fff;
}

.footer_icon {
  display: flex;
  gap: 10px;
  color: var(--primary-color);
}

.footer_icon .location {
  display: flex;
  align-items: center;
}
.figma {
  background-color: #fafafa;
  padding: 25px 0px 25px 0px;
}
.figma .container {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.figmaicon {
  display: flex;
  gap: 20px;
}
.figmamade h6 {
  font-weight: 700;
  font-size: 14px;
}

#check {
  font-size: 20px;
  display: none;
}
#close {
  display: none;
}
